body {
background: linear-gradient(90deg, rgba(102, 204, 51, 0.369683) 31.96%,
rgba(217, 217, 217, 0) 50.38%,
 rgba(0, 204, 255, 0.63) 86.19%);
 
}

/***css des boutons***/

.boutNorm {
  text-decoration: none;
  font-family: "Happy Monkey";
  background-color: #00CCFF;
  border: none ;
  color: white;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.6s;
}

.boutNorm:hover {
    background-color: #daffff;
    color:#00CCFF;
}

a {

    text-decoration: none;
}


/*** css de la page d'acceuil***/
/***css du header***/
 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  background:linear-gradient(90deg, rgba(102, 204, 51, 0.369683) 31.96%,
    rgba(217, 217, 217, 0) 50.38%,
     rgba(0, 204, 255, 0.63) 86.19%); ;
}
/* header-left {
  order: 1;
}

header-right {
  order: 2;
  display: flex;
  align-items: center;
} */

/* header-right a {
  margin-right: 10px;
} */



/*** css é um professionnal***/
#ba1{
  /*border-radius: 4%;*/
  position: absolute;
  margin: 2%;
  padding: 2% 7%;
  top:2%;
}


/***css acces profil***/
 #image2{
position:relative;
width:30%;
height: 46%;
left: 35%;
top:30%;

}

#lien2{
  position:relative;
  color: white;
  font-family: "Happy Monkey";
  top:35%;
  right: 1%;
  left: 5%;
}

 #ellipse4{
  position: absolute;
  width: 20%;
  height: 30%;
  left: 80%;
  top: -10%;
  border-radius: 60%;
  background: #66CC33;
  /*transform: rotate(-14.91deg);*/
}
#image1{
  position: relative;
  width:50%;
  height: 50%;
  top:-20%;
  left:30%;
}



/**css partie 2 de la page acceuil image + barre de recherche**/



#rectangle6{

position: absolute;
width: 70%;
height: 80%;
left: 15%;
top: 65%;
 opacity: 80%;
}
