body {
background: linear-gradient(90deg, rgba(102, 204, 51, 0.369683) 31.96%,
rgba(217, 217, 217, 0) 50.38%,
 rgba(0, 204, 255, 0.63) 86.19%);
height: auto;
}

/***css des boutons***/

.boutNorm {
  text-decoration: none;
  font-family: "Happy Monkey", sans-serif;
  background-color: #00CCFF;
  border: none ;
  color: white;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.6s;
}

.boutNorm:hover {
    background-color: #daffff;
    color:#00CCFF;
}

.boutOption{
  text-decoration: none;
  font-family: "Happy Monkey", sans-serif;
  background-color: #66CC33;
  border: 5px ;
  color: white;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.6s;
  padding:4%;
}

.boutOption:hover {
    background-color: #daffff;
    color:#66CC33;
}

.lien4{
  color:white;
}

.lien4:hover{
  color:#66CC33
}

a {

    text-decoration: none;
}


/*** css de la page d'acceuil***/
/***css du header***/
 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
 background-color: none;

}



/*** css é um professionnal***/
#ba1{
  /*border-radius: 4%;*/
  position: absolute;
  margin: 2%;
  padding: 1% 2%;
  font-size: 80%;
  left: 68%;
  top:-2%;
  border-radius: 8%;
}


/***css acces profil***/
 #image2{
position:absolute;
width:20%;
height: 46%;
left: 80%;
top:0%;

}



#lien2{
  position:absolute;
  color: white;
  font-family: "Happy Monkey", sans-serif;
  top:25%;
  right: 1%;
  left: 85%;
  text-align: center;
  font-weight: bold;
}

#image1{
  position: absolute;
  width:20%;
  height: 20%;
  top:-2%;
  left:-3%;
}

/***css de "Um Professional de Saude sempre ha mao e mais perto de si"**/

#p1{
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 90%;

  font-family: 'Happy Monkey', sans-serif;
  text-align: center;
  font-weight: 60%;
  font-size: 230%;
  line-height: 60%;


  color: #00CCFF;
}
/***css de “Cuide de sua saude e de quem ama,em dois cliques”***/

#p2{
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 65%;

  font-family: 'Happy Monkey',sans-serif;
  font-style: normal;
  font-weight:60%;
  font-size: 150%;
  line-height: 60%;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);

}

/**css partie 2 de la page acceuil image + barre de recherche**/

#rectangle6{

position:absolute;
width:110%;
height: 110%;
left: -6%;
top: -10%;
opacity: 0.3;

}


/***barre de recherche***/
#barRecherche{
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0%;
  top: 60%;
  background: #00CCFF;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.9);

}


#recherche{
  position: absolute;
  width: 9%;
  height: 180%;
  left: 87%;
  top: -45%;
}

#formAceuil{

}

#recherche1{

  margin-left:5%;
  margin-bottom: : 5%;
  height: 30%;
  border: none;
  width: 20%;
  height: 70%;
}


#loc{
    margin-left:5%;
    border: none;
}

#dropdown1{
  margin-left:5%;
  border: none;
}

#filtre1{
  text-decoration: none;
  font-family: "Happy Monkey", sans-serif;
  background-color: white;
  border: white;
  color: black;
  text-align: center;
  font-size: 110%;
  left: 110%;
  padding:0.5%;
  margin: 1%;
  margin-left:5%;
  margin-bottom: : 5%;
  transition-duration: 0.6s;
}

#filtre1:hover {
    background-color: #daffff;
    color:#00CCFF;
}


/***css sous la barre de recherche***/

#image6{
position: absolute;
opacity: 0.5;
left:60%;
top:130%;
   width: 30%;
}


#ellipse5{
position: absolute;
width:80%;
height: 30%;
left: -30%;
top: 130%;
border-radius: 60%;
background: #66CC33;
text-align: center;
font-size: 150%;
color:white;
padding-left: 5%;
}

#ellipse10{
  position: absolute;
  left: 81.5%;
  top:-50%;
}



#ellipse9{
position: absolute;
width: 70%;
height: 25%;
left: 28%;
top: 200%;
border-radius: 60%;
background: #00CCFF;
text-align: center;
color: white;
font-size: 150%;
}

#p4{
  position: absolute;
  top: 7%;
 font-size: 200%;
  left:1%;

  width: 90%;
}

#image22{
  position: absolute;
  top:170%;
left:-3%;
width: 30%;
}

/* #p4{
  position: relative;
  bottom:180%;
} */

/*** css des carrées de navigations**/
/*rectangle 1*/
#rectangle8{
  box-sizing: border-box;
  position: absolute;
  width: 20%;
  height: 50%;
  left: 9%;
  top: 240%;

  background: #FFFFFF;
  border: 5px solid #66CC33;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}

#ellipse7{
position: relative;
width: 60%;
top:10%;
left:20%;
}

#ba3{
  position: relative;
top:20%;
left: 20%;

}
/*rectangle 2*/

#rectangle9{

  box-sizing: border-box;

  position: absolute;
  width: 20%;
  height: 50%;
  left: 40%;
  top: 240%;

  background: #FFFFFF;
  border: 5px solid #66CC33;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;


}

#image18{
  position: relative;
  width: 60%;
  top:10%;
  left:20%;


}

#ba4{
  position: relative;
top:15%;
left: 30%;
}


/***rectangle 3**/

#rectangle7{
  box-sizing: border-box;

  position: absolute;
  width: 20%;
  height: 50%;
  left: 70%;
  top: 240%;

  background: #FFFFFF;
  border: 5px solid #66CC33;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;

}

#ellipse6{
  position: relative;
  width: 60%;
  top:10%;
  left:20%;


}

#ba5{
color:white;
position: relative;
top:20%;
left: 31%;
}

/**css image entre carroussel**/

#imageBD{
position: absolute;
width: 60%;
top:370%;
left:40%
}

#imageBG{

  position: absolute;
  width: 40%;
  top:380%;
  left:0%;
}


/***css carroussel1***/

.imgcarroussel{
  width: 30%;
  position: relative;

}
.carousel{
  width:30%;
  position: absolute;
  top:320%;
  display: flex;
  transition: transform 0.3s ease-in-out;
  animation: carousel-animation 15s infinite linear;

}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}
.carousel-slide:hover {

  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-170%);
  }
  100% {
    transform: translateX(0);
  }
}
/***css carrousel2***/



.carousel2{
  width:30%;
  position: absolute;
  top:460%;
  display: flex;
  transition: transform 0.3s ease-in-out;
  animation: carousel-animation 15s infinite linear;
}

.carousel-slide2 {
  flex: 0 0 100%;
}

.carousel-slide2 img {
  width: 100%;
  height: auto;
}
.carousel-slide2:hover {

  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@keyframes carousel2-animation {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}






/*** css page inscription/connexion***/
#bodyinscription_connexion{

background: linear-gradient(90deg, rgba(0, 204, 255, 0.63) 1.78%, rgba(102, 204, 51, 0.369683) 63.69%, rgba(217, 217, 217, 0) 100%);

}
#headerLogin{
  padding:5%;

}
 #lien9{
  top:-20%;
left:100%;

}

#image9{
  width: 5%;
  top:0%;
  left:95%;
  position: absolute;
}

#bi1{
  top:-1%;
  position: absolute;
  left:1%;
  padding: 1% 4%;
  top:2%;
  background-color: white;
  color:#00CCFF;
  font-size: 100%;
}

#bi1:hover{
  background-color:#00CCFF ;
  color:white;
}
/**css rectangleconnexion**/

#rectangle18{
  position: absolute;
width: 70%;
height: 80%;
left: 15%;
top: 15%;

background: linear-gradient(90deg, rgba(0, 204, 255, 0.26) 34.67%, rgba(0, 204, 255, 0.56) 60.98%, rgba(0, 204, 255, 0.42) 86.1%);
border-radius: 305px;


}

#label1{
position: absolute;
top:-20%;
left:7%;
font-size: 130%;
}

#login{
  position: absolute;
  top:20%;
  font-size: 180%;
  left:20%;
}


.title1{
  font-family: 'Happy Monkey';
  font-style: normal;
  color: #66CC33;
}
.textelogin{
  font-family: 'Happy Monkey';
font-style: normal;
color: #FFFFFF;
}

.textarea{
  background: rgba(102, 204, 51, 0.33);
  width:90%;
  padding: 2%;
  border: none;
}

#boutlogin{
  margin-left: 50%;
  padding:2%;
}
#lien3{
  margin-left:10%;
  font-size: 70%;
  margin-left:30%;
}

/**css rectangle inscription**/

#rectangle19{

position: absolute;
width: 70%;
height: 190%;
left: 15%;
margin-top: 40%;

  background: linear-gradient(90deg, rgba(102, 204, 51, 0.26) 34.67%, rgba(102, 204, 51, 0.1) 60.98%, rgba(102, 204, 51, 0.34) 86.1%);
  border-radius: 305px;

}
#creerCompte{
  position: absolute;
  top:5%;
  left:30%;
  width:170%;
  font-size: 230%;
}

/* #registro{
  position: absolute;
  left:15%;
  top:20%;
} */

.registro1{

  background: rgba(102, 204, 51, 0.33);
  width:90%;
  padding: 2%;
  border: none;
}


#registroGauche{
position: absolute;
font-size: 210%;
top:15%;
left: 10%;
}

#registroDroit{
position: absolute;
left:60%;
top:15%;
font-size: 210%;
}
#registroBas{
position: absolute;
top: 45%;
left: 10%;
font-size: 210%;
}
#boutRegistro{
  position: absolute;
  padding: 2%;
  margin-left:45%;
}


/**css footer**/
 footer{
     position:absolute;
    bottom: 0;
      width: 100%;
     color:white;
     font-size:180%;
     text-align: center;
    box-sizing: border-box;

    height: 10%;
    background: #66CC33;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top:550%;
    }

#liensAvisLegal{
  color:white;
  padding:10%;
  top:10%;
}
#lienContact{
  color:white;
  padding:10%;
  top:10%;
}

#lienReseaux{
  color:white;
  padding:10%;
  top:10%;
}
